<html>
  <style>
    header > h1 { font-size: 16px; } body { font-size: 14px; } main > p {
    display: grid; } a { text-decoration: none; } .links {display: flex; gap:
    4px} b { font-weight: 700; }
  </style>
  <body>
    <p>
      Bonjour
      {{firstName}}
      {{lastName}}👋, Je suis Achille de
      <a href='https://chillo.tech/'>chillo.tech</a>.</p>
    Vous venez de vous inscrire à notre prochaine session de formation
    <b>{{training}}</b>
    : je vous en remercie. Nous allons revenir assez rapidement vers vous pour
    discuter et vous remercier pour votre confiance.
    <br />
    Pour confirmer votre inscription,
    <a
      href='https://www.paypal.com/paypalme/mbougueng?country.x=FR&locale.x=fr_FR'
    >vous pouvez effectuer votre paiement via paypal sur ce lien</a>.
    <br />
    En attendant notre échange, merci de nous lister
    <a href='{{attentesLink}}'>vos attentes en cliquant sur ce lien</a>
    <br />
    D'ici là pour toute question ou suggestion n'hésitez pas à nous contacter.
    <p>
      Bien à vous,
      <br />
      Achille MBOUGUENG,<br />
      Fondateur de
      <a href='chillo.tech' _target='blank'>chillo.tech</a><br />
      <a href='https://wa.me/33761705745'>+33 7 6170 57 45</a>
    </p>
    <p class='links'>

      <a
        style='border-bottom: 1px solid blue;'
        href='https://www.youtube.com/channel/UC1fetPjPtTcUZWfiQpebf0Q'
      >Youtube</a><br />
      <a
        style='border-bottom: 1px solid blue;'
        href='https://www.linkedin.com/company/86905161/admin/feed/posts'
      >LinkedIn</a><br />
      <a
        style='border-bottom: 1px solid blue;'
        href='https://www.facebook.com/profile.php?id=100084306755977'
      >facebook</a>
    </p>
  </body>
</html>