<html>
  <style>
    header > h1 {
      font-size: 13px;
      font-weight: normal;
    }

    body {
      font-size: 14px;
    }

    main > p {
      display: grid;
    }
    a {
      text-decoration: none;
    }
    .links {display: flex; gap: 4px}
  </style>
  <body>
    <p>
      Bonjour 👋,
      <br />
      <b>{{name}}</b>
     vient de s'inscrire à la newsletter
    </p>
    
    <p>voici son mail : <b>{{email}}</b></p>

    <p>
      Bien à vous,
      <br />
      Achille MBOUGUENG,<br />
      Fondateur de
      <a href='chillo.tech' _target='blank'>chillo.tech</a><br />
      <a href='https://wa.me/33761705745'>+33 7 6170 57 45</a>
    </p>
    <p class='links'>

      <a style="border-bottom: 1px solid blue;"
        href='https://www.youtube.com/channel/UC1fetPjPtTcUZWfiQpebf0Q'
      >Youtube</a><br />
      <a style="border-bottom: 1px solid blue;"
        href='https://www.linkedin.com/company/86905161/admin/feed/posts'
      >LinkedIn</a><br />
      <a style="border-bottom: 1px solid blue;"
        href='https://www.facebook.com/profile.php?id=100084306755977'
      >facebook</a>
    </p>
  </body>
</html>
