<html>
  <style>
    header > h1 { font-size: 16px; } body { font-size: 14px; } main > p {
    display: grid; } a { text-decoration: none; }
    .links {display: flex; gap: 4px}
  </style>
  <body>
     <p>
        Bonjour
        {{name}}👋,
        <br />
        Je suis Achille de
        <a href='chillo.tech' _target='blank'>chillo.tech</a>
      </p>
      <p>
         <p>Nous venons de recevoir votre inscription à nos newsletters.</p>
    <p>Nous sommes ravis de vous compter parmis notre communauté.</p>
    <p>Pour toute question ou suggestion n'hésitez pas à nous contacter.</p>
    <p>
      Bien à vous,
      <br />
      Achille MBOUGUENG,<br />
      Fondateur de
      <a href='chillo.tech' _target='blank'>chillo.tech</a><br />
      <a href='https://wa.me/33761705745'>+33 7 6170 57 45</a>
    </p>
    <p class='links'>

      <a style="border-bottom: 1px solid blue;"
        href='https://www.youtube.com/channel/UC1fetPjPtTcUZWfiQpebf0Q'
      >Youtube</a>&nbsp;
      <a style="border-bottom: 1px solid blue;"
        href='https://www.linkedin.com/company/86905161/admin/feed/posts'
      >LinkedIn</a>&nbsp;
      <a style="border-bottom: 1px solid blue;"
        href='https://www.facebook.com/profile.php?id=100084306755977'
      >facebook</a>
    </p>
    <p><a style="border-bottom: 1px solid blue;" href='{{unsubscribeLink}}'>Cliquez ici pour vous desabonner</a></p>
  </body>
</html>