<html>
  <style>
    header > h1 { font-size: 16px; } body { font-size: 14px; } main > p {
    display: grid; } a { text-decoration: none; } .links {display: flex; gap:
    4px}
  </style>
  <body>
    <p>
      Bonjour 👋,
      <br />
      Je suis Achille de
      <a href='https://chillo.tech' _target='blank'>chillo.tech</a>
    </p>
    <p>Nous venons de recevoir votre desinscription à nos newsletters.</p>
    <p>
      Nous seront ravis si vous nous partagiez les raisons de votre choix.
      <br />
      Cela nous aide grandement. Merci!
    </p>
    <p>Pour toute question ou suggestion n'hésitez pas à nous contacter.</p>
    <p>
      Bien à vous,
      <br />
      Achille MBOUGUENG,<br />
      Fondateur de
      <a href='https://chillo.tech' _target='blank'>chillo.tech</a><br />
      <a href='https://wa.me/33761705745'>+33 7 6170 57 45</a>
    </p>
    <p class='links'>

      <a
        href='https://www.youtube.com/channel/UC1fetPjPtTcUZWfiQpebf0Q'
      >Youtube</a>&nbsp;
      <a
        href='https://www.linkedin.com/company/86905161/admin/feed/posts'
      >LinkedIn</a>&nbsp;
      <a
        href='https://www.facebook.com/profile.php?id=100084306755977'
      >facebook</a>
    </p>
  </body>
</html>