on:
  workflow_dispatch:
env:
  NODE_VERSION: '14.x'
  FOLDER: /opt/applications/cs-community/ms-cs-community
  IMAGE: ms-cs-community
  IMAGE_VERSION: latest
permissions:
  contents: read

jobs:
  create-folder:
    name: Create folder
    runs-on: ubuntu-latest
    steps:
      - name: Create folder
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.PROD_APPLICATIONS_HOST }}
          port: ${{ secrets.PROD_APPLICATIONS_PORT }}
          username: ${{ secrets.PROD_APPLICATIONS_USERNAME }}
          key: ${{ secrets.PROD_APPLICATIONS_SSH_PRIVATE_KEY }}
          script: |
            sudo rm -rf ${{ env.FOLDER }}
            sudo mkdir -p  ${{ env.FOLDER }}
            sudo chmod ugo+rwx  ${{ env.FOLDER }}

  copy-configs:
    name: 'copy configs'
    runs-on: ubuntu-latest
    needs: create-folder
    steps:
      - uses: actions/checkout@master
      - name: copy file via ssh password
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.PROD_APPLICATIONS_HOST }}
          port: ${{ secrets.PROD_APPLICATIONS_PORT }}
          username: ${{ secrets.PROD_APPLICATIONS_USERNAME }}
          key: ${{ secrets.PROD_APPLICATIONS_SSH_PRIVATE_KEY }}
          source: 'compose.yaml'
          target: ${{ env.FOLDER }}

  dockerize:
    runs-on: ubuntu-latest
    steps:
      - name: Create folder
        run: mkdir -p /tmp
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and export
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: ${{env.IMAGE}}:${{env.IMAGE_VERSION}}
          outputs: type=docker,dest=/tmp/${{env.IMAGE}}.tar
      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.IMAGE}}
          path: /tmp/${{env.IMAGE}}.tar

  copy-image:
    name: 'copy image'
    runs-on: ubuntu-latest
    needs: dockerize
    steps:
      - name: Download image artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{env.IMAGE}}
          path: .
      - name: copy file via ssh password
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.PROD_APPLICATIONS_HOST }}
          port: ${{ secrets.PROD_APPLICATIONS_PORT }}
          username: ${{ secrets.PROD_APPLICATIONS_USERNAME }}
          key: ${{ secrets.PROD_APPLICATIONS_SSH_PRIVATE_KEY }}
          source: '${{env.IMAGE}}.tar'
          target: '/tmp/'

  load-image:
    name: Load image
    runs-on: ubuntu-latest
    needs: copy-image
    steps:
      - name: Load image
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PROD_APPLICATIONS_HOST }}
          port: ${{ secrets.PROD_APPLICATIONS_PORT }}
          username: ${{ secrets.PROD_APPLICATIONS_USERNAME }}
          key: ${{ secrets.PROD_APPLICATIONS_SSH_PRIVATE_KEY }}
          script: |
            docker load -i /tmp/${{env.IMAGE}}.tar

  run-container:
    name: 'Run container'
    runs-on: ubuntu-latest
    needs: load-image
    steps:
      - name: Run container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PROD_APPLICATIONS_HOST }}
          port: ${{ secrets.PROD_APPLICATIONS_PORT }}
          username: ${{ secrets.PROD_APPLICATIONS_USERNAME }}
          key: ${{ secrets.PROD_APPLICATIONS_SSH_PRIVATE_KEY }}
          script: |
            docker compose -f ${{ env.FOLDER }}/compose.yaml stop
            docker compose -f ${{ env.FOLDER }}/compose.yaml rm -f

            echo BREVO_API_KEY=${{ secrets.BREVO_API_KEY }} >> ${{ env.FOLDER }}/.env
            echo DB_URI=${{ secrets.DB_URI }} >> ${{ env.FOLDER }}/.env
            echo PORT=9000 >> ${{ env.FOLDER }}/.env
            echo BACKOFFICE_API=${{ secrets.BACKOFFICE_API }} >> ${{ env.FOLDER }}/.env
            echo BACKOFFICE_API_TOKEN=${{ secrets.BACKOFFICE_API_TOKEN }} >> ${{ env.FOLDER }}/.env
            echo OWNER_EMAIL=${{ secrets.OWNER_EMAIL }} >> ${{ env.FOLDER }}/.env
            echo OWNER_NAME=${{ secrets.OWNER_NAME }} >> ${{ env.FOLDER }}/.env
            echo CONTACT_API_TOKEN=${{ secrets.CONTACT_API_TOKEN }} >> ${{ env.FOLDER }}/.env
            echo CONTACT_API=${{ secrets.CONTACT_API }} >> ${{ env.FOLDER }}/.env
            echo FRONTEND_URL=${{ secrets.FRONTEND_URL }} >> ${{ env.FOLDER }}/.env
            echo SMTP_USERNAME=${{ secrets.SMTP_USERNAME }} >> ${{ env.FOLDER }}/.env
            echo SMTP_PASSWORD=${{ secrets.SMTP_PASSWORD }} >> ${{ env.FOLDER }}/.env

            sudo docker compose -f ${{ env.FOLDER }}/compose.yaml up -d

            rm -f ${{ env.FOLDER }}/.env
